*.iml
.gradle
.idea
/local.properties
/build
/captures
.externalNativeBuild
.cxx
/app/build/
/app/release/
/gradlew
/gradlew.bat
/gradle/wrapper/gradle-wrapper.jar
/app/src/main/res/values/donottranslate_secrets.xml
